/* GLOBAL */
html {
    box-sizing: border-box;
    font-size:  100%;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0; 
    color: black;
    overflow-x: hidden;   
}

a{
    text-decoration: none;
}





/* FONTS */

/* archivo-regular - latin */
@font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/archivo-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/archivo-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* archivo-500 - latin */
  @font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/archivo-v18-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/archivo-v18-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* archivo-600 - latin */
  @font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/archivo-v18-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/archivo-v18-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* archivo-700 - latin */
  @font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/archivo-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/archivo-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* archivo-800 - latin */
  @font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/archivo-v18-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/archivo-v18-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* BOUNCE EFFECT */

@-webkit-keyframes bounce {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes bounce {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.bounce:hover
{
    -webkit-animation: bounce 1s ease;
    animation: bounce 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

  

/* HERO SECTION */

.hero-container{
    /* background image */
    background-image: url("Assets/images/boy-on-pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
    width: 100vw;
    
    /* spread apart hero header and footer content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 1 auto;
    
}

.header-icon{
    color: white;
}


nav{
    font-size: 2rem;
    padding: 1.5rem;
}


.social{
    font-size: 2rem;    
    display: flex;
    gap: 3rem;
    padding: 2rem;
    justify-content: flex-end;
}

  .hero-footer{
    text-align: center;
  }

/* NEW HERO SECTION */



.home-hero-slider.desktop-slider{
    width:100vw;
    height:100vh;
  }
  
  .slick-prev.slick-arrow {
      position: absolute;
      top: 50%;
      width: 50px;
      left: 0;
      z-index:100;
  }
  .slick-next.slick-arrow {
      position: absolute;
      top: 50%;
      width: 50px;
      right: 0;
      z-index:100;
  }
  .slick-dots{
    bottom:30px!important;
    z-index:100;
  }
  
  /*Desktop Slider*/
  
  .desktop-slider .slide{
    height:35vw;
    width:100%!important;
    display:flex;
    align-items:center;
    justify-content:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
  }
  #slide-1{
    background-image:url('Assets/images/art-girls.jpg');
    display:flex;
    align-items:flex-start;
    justify-content:center;
    padding-left:30vw;
    
  }
  .slide-content{
    width:50%;
    position:relative;
    padding-top:15vw;
    box-sizing:border-box;
  }
  
  #slide-2{
    background-color:green;
  }
  #slide-3{
    background-color:yellow;
  }
  
  /*Mobile Slider*/
  .mobile-slider .slide{
    height:70vw;
    width:100%!important;
    display:flex;
    align-items:center;
    justify-content:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
  }
  .home-hero-slider.mobile-slider{
    width:100%;
    height:70vw;
    display:none;
  }
  #slide-1-mobile{
    background-image:url('https://dl.dropbox.com/s/mp2k34ztu9snfeg/Bird_Banner1.jpg');
  }
  #slide-2-mobile{
    background-color:green;
  }
  #slide-3-mobile{
    background-color:yellow;
  }
  
  /*Media Queries*/
  @media only screen and (min-width:501px){/* Large Screens - Over 500px width*/
    .home-hero-slider.desktop-slider{
      display:block;
    }
  }
  
  @media only screen and (max-width:500px){/* Small Screens - Under 500px width*/
    .home-hero-slider.desktop-slider{
      display:none;
    }
    .home-hero-slider.mobile-slider{
    width:100%;
    height:70vw;
    display:block;
  }
  }
  


/* WELCOME SECTION */

#welcome{

    padding-top: 5rem;
}

.welcome-text{
    padding: 5rem;
    background-color: #F5F5F5;
}

/* LINKS SECTION */

#links{
    
    margin-top: 3rem;
    padding: 0;
}



.img-div1{
    background-image: url('Assets/images/hockey-church.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    height:100%;
    width: 100%;
}

.mask{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.30));
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.overlay{
    
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #5B2A84;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    
}

.overlay:hover{
    opacity: 1;
}


/* NEWS SECTION */


.news-wrapper{
   
    padding-bottom: 2rem;
    margin: 0 2rem;
    
}


.section-headings{
    text-align: center;
    padding: 1.5rem 0 1rem 0;
    
}

.section-link{
    text-align: center;
}

.card-group{
    gap:2rem;
}



.card-img-top{
    height: 60%;
    
    object-fit: cover;
    object-position: center;
}



/* CALENDAR SECTION */

#calendar-section{
    padding: 0 1rem;
    margin-bottom: 7rem;
    margin-top: 2rem;
    
}

.calendar-card{
    background-color: #5B2A84;
    padding: 0 2rem;
    max-width: fit-content;
    min-height: 20rem;    
    color: white;    
    border-radius: 0;
    border: #F5F5F5 solid 1rem;
}

.calendar-card:hover{
    background-color: #BFD630 ;
}

.calendar-card-group{
    gap: 2rem;
    
    
}

/* FOOTER SECTION */

footer{
    background-color: #231F20;
    padding: 1rem 0 2rem 0;
}

.footer, a{
    color: white;
}

.footer-column{
    margin-top: 1rem;
}

.footer-text{
    color: white;
}

.footer-spacer{
    display: inline-block;
    width: 0.7rem;
}
.footer-link{
    display: block;
    margin-bottom: 0.8rem;
    
}

.wlt-white{
    max-width: 100%;
    height: auto;
    margin-left: -1.5rem;
    
}

.footer-icon{
    margin-left: -2.9rem;
}