html {
    box-sizing: border-box;
    font-size:  100%;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;    
}



.hero-container{
    /* background image */
    background-image: url("/Assets/images/KINGS\ 2019-00013.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
    width: 100vw;
    
    /* align navbar logo and social links */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 1 auto;
    
}



nav{
    font-size: 2rem;
    padding: 1.5rem;
}


.social{
    font-size: 2rem;    
    display: flex;
    gap: 3rem;
    padding: 2rem;
}

  .hero-footer{
    text-align: center;
  }