/* GLOBAL */
html {
    box-sizing: border-box;
    font-size:  100%;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0; 
    color: black;
    overflow-x: hidden;   
}

a{
    text-decoration: none;
}

.img-1{
    background-image: url(Assets/images/art-girls.jpg);
    width: 100%;
   

}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 1 auto;
    background-color: #5B2A84;
    
}

.header-icon{
    color: white;
}


nav{
    font-size: 2rem;
    padding: 1.5rem;
}


.social{
    font-size: 2rem;    
    display: flex;
    gap: 3rem;
    padding: 2rem;
    justify-content: flex-end;
}