/* WELCOME SECTION */

#welcome{

    padding-top: 5rem;
    
    
}

.welcome-text{
    padding: 5rem;
    background-color: #F5F5F5;
}

.welcome-row{
    margin-top: 5rem;
}

.welcome-img-div{
    margin: 0 1rem;

}

.welcome-links{
    margin: 5rem;
}

/* New welcome section */

.welcome-left-background{
    background-color: red;
    padding: 15rem;
    
    
}



    


.new-welcome-row{
    height: 500px;
}

.welcome-img-container{
    position: relative;
 
}



/* New New */

.left-background-welcome{
    width: 90%;
    
}

.left-welcome-content{
    
    
}
