/* WELCOME SECTION */
#welcome {
  padding-top: 5rem;
}

.welcome-text {
  padding: 5rem;
  background-color: #F5F5F5;
}

.welcome-row {
  margin-top: 5rem;
}

.welcome-links {
  margin: 5rem;
}

/* New welcome section */

.links-row{
  height: 100px;
  display: flex;
}

.img-link-container{
  background-color: blueviolet;
}

.link-image{
  position: relative;
}

