/* BOUNCE EFFECT */

@-webkit-keyframes bounce {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes bounce {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.bounce:hover
{
    -webkit-animation: bounce 1s ease;
    animation: bounce 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}



    /* Bell Animation */


    .ringing-bell{
        position:absolute;
        align-self: center;
        justify-self: center;
        
        transition:translate(-50%,-50%);
    }
    
    
    .faa-ring{
        color:red;
    }
    
    
    @-webkit-keyframes ring {
      0% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
      }
    
      2% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
      }
    
      4% {
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg);
      }
    
      6% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg);
      }
    
      8% {
        -webkit-transform: rotate(-22deg);
        transform: rotate(-22deg);
      }
    
      10% {
        -webkit-transform: rotate(22deg);
        transform: rotate(22deg);
      }
    
      12% {
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg);
      }
    
      14% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg);
      }
    
      16% {
        -webkit-transform: rotate(-12deg);
        transform: rotate(-12deg);
      }
    
      18% {
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg);
      }
    
      20% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
    
    @keyframes ring {
      0% {
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
      }
    
      2% {
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
      }
    
      4% {
        -webkit-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
        transform: rotate(-18deg);
      }
    
      6% {
        -webkit-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
        transform: rotate(18deg);
      }
    
      8% {
        -webkit-transform: rotate(-22deg);
        -ms-transform: rotate(-22deg);
        transform: rotate(-22deg);
      }
    
      10% {
        -webkit-transform: rotate(22deg);
        -ms-transform: rotate(22deg);
        transform: rotate(22deg);
      }
    
      12% {
        -webkit-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
        transform: rotate(-18deg);
      }
    
      14% {
        -webkit-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
        transform: rotate(18deg);
      }
    
      16% {
        -webkit-transform: rotate(-12deg);
        -ms-transform: rotate(-12deg);
        transform: rotate(-12deg);
      }
    
      18% {
        -webkit-transform: rotate(12deg);
        -ms-transform: rotate(12deg);
        transform: rotate(12deg);
      }
    
      20% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
    
    .faa-ring.animated,
    .faa-ring.animated-hover:hover,
    .faa-parent.animated-hover:hover > .faa-ring {
      -webkit-animation: ring 3s ease infinite;
      animation: ring 3s ease infinite;
      transform-origin-x: 50%;
      transform-origin-y: 0px;
      transform-origin-z: initial;
    }
    
    

    