/* GLOBAL */
html {
    box-sizing: border-box;
    font-size:  100%;
    scroll-behavior: smooth;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0; 
    color: black;
    overflow-x: hidden; 
    background-color: #ffff; 
    
   
}

a{
    text-decoration: none;
}

