/* GLOBAL */
html {
    box-sizing: border-box;
    font-size:  100%;
    scroll-behavior: smooth;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0; 
    color: black;
    overflow-x: hidden; 
    background-color: #F5F5F5;
    
   
}

a{
    text-decoration: none;
    color: black;
}

button{
    border: none;
    background-color: transparent;
    color: white;
}
