


header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 1 auto;
    background: transparent;
    position: absolute;
    z-index: 1;
    
    
}



.logo{
  max-width: 270px;
  min-width: 30vw;
  align-self: center;
  flex: 1 0 auto;
  justify-self: center;
  
}

.header-icon{
    color: white;
    
}




.hamburger-col{
    flex: 0 1 auto;
    
    font-size: 2rem;
    
  
}

.hamburger{
    margin-left: .5rem;
}

.social{
    font-size: 1.2rem;    
    display: flex;
    gap: 1.7rem;
    padding-right: 1.5rem;
    justify-content: flex-end;
    flex: 0 1 auto;
    align-self: flex-start;
  
}

.social-links{
    display: flex;

}

.nav-box{
    display: flex;
    justify-content: flex-start;
    
    
}
