.header2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 1 auto;    
    position: fixed;
    top: 0;
    z-index: 1;
    transition: 0.1s;   
    background-color: #231F20;
}



.logo2{
    max-width: 7rem;
    align-self: center;
    flex: 1 0 auto;
    justify-self: center;
    
  }
