


header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 1 auto;
    background-color: #5B2A84;
    
    
}

.logo{
  max-width: 270px;
  align-self: center;
  flex: 0 1 auto;
  justify-self: center;
  
}

.header-icon{
    color: white;
}


nav{
    font-size: 1.5rem;
    padding: 1.5rem;

 }

.hamburger-col{
    flex: 0 1 auto;
    align-self: center;
    padding-left: 1.5rem;
  
}


.social{
    font-size: 1.2rem;    
    display: flex;
    gap: 1.3rem;
    padding-right: 1.5rem;
    justify-content: flex-end;
    flex: 0 1 auto;
    align-self: center;
  
  
  
}
