


.header1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 1 auto;    
    position: fixed;
    top: 0;
    z-index: 1;
    transition: 0.1s;   
}



.logo1{
  max-width: 23rem;
  align-self: center;
  flex: 1 0 auto;
  justify-self: center;
  content: url(../../Assets/logos/kings-academy-landscape-logo.svg);
  
  
  
}


.header-icon, header a{
    color: white;
    
}

.header-icon:hover, header a:hover{
    color: #BFD630;
    
}

.logo-sm{
    content: url(https://www.google.com/logos/doodles/2019/joseph-plateaus-218th-birthday-5462347081580544-s.png);

}




.hamburger-col{
    flex: 0 1 auto;
    
    font-size: 2rem;
    
  
}

.hamburger{
    margin-left: .5rem;
}

.social{
    font-size: 1.2rem;    
    display: flex;
    gap: 1.7rem;
    padding-right: 1.5rem;
    justify-content: flex-end;
    flex: 0 1 auto;
    align-self: flex-start;
  
}

.social-links{
    display: flex;

}

.social-links:target{
    text-decoration: none;
}

.nav-box{
    display: flex;
    justify-content: flex-start;
    
    
}
