  /*HERO Slider*/
  
  .slide {
    width:100vw;
    height:100vh;
    /*background:#CCC;*/
    }
    
    .slider{
      height: 100vh;
      width: 100vw;
    }
    
    .slide-2 {
    /*background:#EEE;*/
    }
    .slide-1 {
    background:url(/Assets/images/boy-on-pc.jpg) center no-repeat;
    background-size:cover;
    }
    .slide-2 {
    background:url(/Assets/images/art-girls.jpg) center no-repeat;
    background-size:cover;
    }
    .slide-3 {
    background:url(/Assets/images/3d-printer.jpg) center no-repeat;
    background-size:cover;
    }
    
  
