#main-page-area{
    min-height: 80rem;
    background-color: white;
    padding-top: 9rem;
}

.content-header-breadcrumb{
    display: flex;
    align-items: center;
    
}

.content-header-breadcrumb-links{
    color: #BFD630; 
}
.breadcrumb-spacer{
    width: 0.5rem;
}

.content-header-social{
    display: flex;

}

#content-h1{
    color: #5B2A84;
    margin-top: 3rem;
    font-weight: 700;
    font-size: 48px;
}

#content-body p:first-child, #content-body p:nth-child(2){
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;

}

#content-body{
    margin-top: 2rem;
    margin-bottom: 10rem;

}