.post-content-column{
    
}

#single-post-main-page-area{
    min-height: 80rem;
    background-color: white;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 55rem;
    
}