@import "/styles/partials/globals.css";
@import "/styles/partials/typography.css";
@import "/styles/partials/effects.css";
@import "/styles/partials/hero.css";
@import "/styles/partials/header.css";
@import "/styles/partials/welcome.css";

@import "/styles/partials/footer.css";













/* NEWS SECTION */


.news-wrapper{
   
    padding-bottom: 2rem;
    margin: 0 2rem;
    
}


.section-headings{
    text-align: center;
    padding: 1.5rem 0 1rem 0;
    
}

.section-link{
    text-align: center;
}

.card-group{
    gap:2rem;
}



.card-img-top{
    height: 60%;
    
    object-fit: cover;
    object-position: center;
}



/* CALENDAR SECTION */

#calendar-section{
    padding: 0 1rem;
    margin-bottom: 7rem;
    margin-top: 2rem;
    
}

.calendar-card{
    background-color: #5B2A84;
    padding: 0 2rem;
    max-width: fit-content;
    min-height: 20rem;    
    color: white;    
    border-radius: 0;
    border: #F5F5F5 solid 1rem;
}

.calendar-card:hover{
    background-color: #BFD630 ;
}

.calendar-card-group{
    gap: 2rem;
    
    
}

