@import "/styles/partials/globals.css";
@import "/styles/partials/typography.css";
@import "/styles/partials/effects.css";
@import "/styles/partials/hero.css";
@import "/styles/partials/header.css";
@import "/styles/partials/welcome.css";

@import "/styles/partials/footer.css";













/* NEWS SECTION 


.news-wrapper{
   
    padding-bottom: 2rem;
    margin: 0 2rem;
    
}


.section-headings{
    text-align: center;
    padding: 1.5rem 0 1rem 0;
    
}

.section-link{
    text-align: center;
}

.card-group{
    gap:2rem;
}



.card-img-top{
    height: 60%;
    
    object-fit: cover;
    object-position: center;
}

*/

/* NEW NEWS SECTION*/

html, body{
    margin: 0;
    padding: 0;
  }
  

  .carousel1{
    width:90%;
    margin:0px auto;
  }

  .slick-slide img{
    width:100%;
  }
  .slick-prev, .slick-next{
    background: #000;
    border-radius: 15px;
    border-color: transparent;
  }
  
  .card-top{
      height: 15rem; 
      width: 100%;
      
      
  }

  .card-img-top{
    object-fit: cover;
      object-position: center;
  }

  .news-row{
    height: fit-content;
  }

  .card-body a{
    color: black;
  }

/* CALENDAR SECTION */

#calendar-section{
    padding: 0 1rem;
    margin-bottom: 7rem;
    margin-top: 2rem;
    
}

.calendar-card{
    background-color: #5B2A84;
    padding: 0 2rem;
    max-width: fit-content;
    min-height: 20rem;    
    color: white;    
    border-radius: 0;
    border: #F5F5F5 solid 1rem;
}

.calendar-card:hover{
    background-color: #BFD630 ;
}

.calendar-card-group{
    gap: 2rem;
    
    
}

